{% extends 'dashboard_faculty.html' %}
{% load custom_tags %}
{% block content %}
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-5">
            <form action="{% url 'Feedback:self_concept_pdf' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Generate PDF">
                <input type="hidden" name="year" value="{{ year }}">
                <input type="hidden" name="branch" value="{{ branch }}">
                <input type="hidden" name="division" value="{{ division }}">
                <br>
            </form>
        </div>

        <div class="table-responsive col-md-11">
            <table class="table table-bordered white">
                <thead class="thead-inverse">
                <tr>
                    <th>Sr. No.</th>
                    <th>GR Number</th>
                    <th>Student Name</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <form method="post" action="{% url 'Feedback:self_concept_result' %}">
                    {% csrf_token %}
                    {% for each in students %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{ each.student.gr_number }}

                            </td>
                            <td>
                                {{ each.student.first_name }} {{ each.student.last_name }}

                            </td>
                            <td>
                                {% if each.student.pk in given_list %}
                                    <button class="btn btn-primary" type="submit" name="result_button"
                                            value="{{ each.pk }}">
                                        See Result
                                    </button>
                                    Score: {{ given_list|get_item:each.student.pk }}
                                {% else %}
                                    Not given
                                {% endif %}

                            </td>

                        </tr>
                    {% endfor %}
                </form>
                </tbody>

            </table>
        </div>
    </div>

{% endblock content %}