{% extends './base.html' %}

{% block style %}
    <style>
        html, body {
            overflow-x: hidden;
            background: #fff;
            font-family: 'Roboto', sans-serif;
        }

        legend {
            color: #0379C4;
        }

        .navbar {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
            background: white;
            font-family: 'Roboto', sans-serif;
            border: 0;
            padding: 10px;
        }

        .navbar-brand {
            color: #0379C4 !important;
            font-weight: bolder;
        }

        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
            background: white;
        }

        .navbar-default .navbar-nav > li {
            font-weight: bold;
        }

        .navbar-default .navbar-nav > li:hover {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);

        }

        .navbar-toggle {
            border: none;
        }

        .navbar-toggle:active, .navbar-toggle:hover, .navbar-toggle:focus {

            background: white !important;

        }

        .form-element {
            margin: 15px 0;
        }

        .col-lg-6 {
            height: 100%;
        }

        .row {
            padding: 10px;
        }

        #myImg {
            width: 140px;
        }

        #input-file {
            padding-bottom: 15px;
        }

        #id_doc_profile_pic {
            display: none;
        }

        #id_projects {
            width: 170px;
            height: 190px;
        }

        .error {
            color: #d9534f !important;
        }

        .my-border-1 {
        {#            border: 1px black solid;#} padding: 0;
        }

        .top-border {
            border-top: 1px black solid;
        }

        .content {
            border-top: 1px black solid;
        }

        .vertical-div {
            height: 40px;
            width: 1px;
            background: red;
            display: inline-block;
        }

        .vertical-divider {
            clear: both;
            position: relative;
        }

        .vertical-divider:after {
            clear: both;
            content: " ";
            display: block;
            height: 0;
            visibility: hidden;
        }

        table, th, td {
        {#            border: 1px solid black;#} border-collapse: collapse;
            padding: 5px;
            text-align: center;
        }

        .block div {
            color: black;
            width: 33%;
            height: 100%;
            float: left;
            padding: 0;
        }

        #div1 {
            background: #DDD;
        }

        #div2 {
            background: #AAA;
        }

        #div3 {
            width: 100%;
            background: #777;
        }

        #div4 {
            background: #444;
        }

        .sidebar {
            color: #5e5e5e;
            border-bottom: 1px grey solid;
        }

        .titlebar {
            background: #fff;
            color: black;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            /*#D9D9D9
            #F2F2F2 */
        }

        .content:nth-child(2n) {
            background: #D9D9D9 !important;
        }

        .content:nth-child(2n+1) {
            background: #F2F2F2 !important;
        }

        .border-left {
            border-left: 3px solid white;
        }

        table {
            border: 1px gray solid;
        }

        .border-down {
            border-bottom: 2px gray solid;
        }

        .cbx {
            width: 15px; /*Desired width*/
            height: 15px; /*Desired height*/
            cursor: pointer;
        }

        .cbx_label {
            position: relative;
            top: -1px;

        }

        .faculty {
            position: relative;
            top: 4px;
            font-weight: bold;
        }

        .room {
            position: relative;
            left: 25%;
            right: 25%;
            top: 4px;
        {#            left: 2.5%;#}{#            right: 25%;#}
        }

        .teacher {
            position: relative;
            bottom: 2px;
            padding: 3px;
            background: #e6e6e6;
            color: #000;
        }

        .room-nos {
            position: relative;
            bottom: 2px;
            padding: 3px;
            background: #e6e6e6;
            color: #000;
        }

        input[type="checkbox"] {
            width: 30px; /*Desired width*/
            height: 30px; /*Desired height*/
        }

    </style>
{% endblock style %}

{% block body %}
    <form method="post" action="{% url 'Timetable:save_timetable' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_year">Year: </label>
        <select id="id_year">
            {% for yr in year %}
                <option>{{ yr }}</option>
            {% endfor %}
        </select>
        <label for="id_subject">Subjects: </label>
        <select id="id_subject">
            {% for subject in subjects %}
                <option>{{ subject }}</option>
            {% endfor %}
        </select>

        <br>
        <div class="container">
            <table style="width:100%;" id="time-tab">
                <tr>
                    <th colspan="2" class="titlebar">Time</th>
                    {% for day in days %}
                        <th class="titlebar">
                            {{ day }}
                        </th>
                    {% endfor %}
                </tr>
                {% for time in times %}
                    <tr class="border-down">
                        <th rowspan="4" class="sidebar time">
                            {{ time }}
                        </th>

                        {% for x in division %}
                            <tr class="content border-down" style="">
                                {% for z in '1234567' %}

                                    {% if forloop.counter0 %}
                                        <td class="block border-left">
                                            <input type="checkbox" class="cbx"
                                                   name="id_room_{{ time }}_{{ x }}_{{ z }}"
                                                   id="id_room_{{ time }}_{{ x }}_{{ z }}_cbx">
                                            {#                                        <label id="id_room_{{ time }}_{{ x }}_{{ z }}_label"#}
                                            {#                                               for="id_room_{{ time }}_{{ x }}_{{ z }}_cbx"#}
                                            {#                                               class="cbx_label">Select</label>#}
                                            {#                                        <div id="id_room_{{ time }}_{{ x }}_{{ z }}" class="faculty">#}
                                            {#                                            Faculty#}
                                            {#                                        </div>#}
                                            {#                                        <div id="id_room_{{ time }}_{{ x }}_{{ z }}_room"#}
                                            {#                                             style="text-align: center" class="room">#}
                                            {#                                            Room#}
                                            {#                                        </div>#}
                                        </td>
                                    {% else %}
                                        <td class="sidebar">{{ x }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}

                {% endfor %}
            </table>
            <br/>
            <div class="col-md-offset-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock body %}
