{% extends './base.html' %}
{#remove this#}
{% block style %}
    <style>
        html, body {
        {#overflow-x: hidden;#} background: #fff;
            font-family: 'Roboto', sans-serif;
        }

        legend {
            color: #0379C4;
        }

        .navbar {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
            background: white;
            font-family: 'Roboto', sans-serif;
            border: 0;
            padding: 10px;
        }

        .navbar-brand {
            color: #0379C4 !important;
            font-weight: bolder;
        }

        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
            background: white;
        }

        .navbar-default .navbar-nav > li {
            font-weight: bold;
        }

        .navbar-default .navbar-nav > li:hover {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);

        }

        .navbar-toggle {
            border: none;
        }

        .navbar-toggle:active, .navbar-toggle:hover, .navbar-toggle:focus {

            background: white !important;

        }

        .form-element {
            margin: 15px 0;
        }

        .col-lg-6 {
            height: 100%;
        }

        .row {
            padding: 10px;
        }

        #myImg {
            width: 140px;
        }

        #input-file {
            padding-bottom: 15px;
        }

        #id_doc_profile_pic {
            display: none;
        }

        #id_projects {
            width: 170px;
            height: 190px;
        }

        .error {
            color: #d9534f !important;
        }

        .my-border-1 {
        {#            border: 1px black solid;#} padding: 0;
        }

        .top-border {
            border-top: 1px black solid;
        }

        .content {
            border-top: 1px black solid;
        }

        .vertical-div {
            height: 40px;
            width: 1px;
            background: red;
            display: inline-block;
        }

        .vertical-divider {
            clear: both;
            position: relative;
        }

        .vertical-divider:after {
            clear: both;
            content: " ";
            display: block;
            height: 0;
            visibility: hidden;
        }

        table, th, td {
        {#            border: 1px solid black;#} border-collapse: collapse;
            padding: 5px;
            text-align: left;
        }

        .block div {
            color: black;
            width: 33%;
            height: 100%;
            float: left;
            padding: 0;
        }

        #div1 {
            background: #DDD;
        }

        #div2 {
            background: #AAA;
        }

        #div3 {
            width: 100%;
            background: #777;
        }

        #div4 {
            background: #444;
        }

        .sidebar {
            color: #5e5e5e;
            border-bottom: 1px grey solid;
        }

        .titlebar {
            background: #fff;
            color: black;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            /*#D9D9D9
            #F2F2F2 */
        }

        .content:nth-child(2n) {
            background: #D9D9D9 !important;
        }

        .content:nth-child(2n+1) {
            background: #F2F2F2 !important;
        }

        .border-left {
            border-left: 3px solid white;
        }

        table {
            border: 1px gray solid;
        }

        .border-down {
            border-bottom: 2px gray solid;
        }

        .cbx {
            width: 15px; /*Desired width*/
            height: 15px; /*Desired height*/
            cursor: pointer;
            text-align: center !important;
        }

        .cbx_label {
            position: relative;
            top: -1px;

        }

        .faculty {
            position: relative;
            top: 4px;
            font-weight: bold;
        }

        .room {
            position: relative;
            left: 25%;
            right: 25%;
            top: 4px;
        {#            left: 2.5%;#}{#            right: 25%;#}
        }

        .teacher {
            position: relative;
            bottom: 2px;
            padding: 3px;
            background: #e6e6e6;
            color: #000;
        }

        .subject_input {
            border: 0px;
            background: transparent;
        }

        .room-nos {
            position: relative;
            bottom: 2px;
            padding: 3px;
            background: #e6e6e6;
            color: #000;
        }


        .checked-cbx {
            width: 15px !important;
            height: 15px !important;

        {#position: relative;#}{#left:-40%;#}
        }

        .checked-cbx-parent {
            padding-left: 0 !important;
            padding-right: 0 !important;
            text-align: left;
        }

        .practical-cbx {

            width: 15px !important;
            height: 15px !important;
            text-align: left;
            margin-right: 100% !important;
        }

        .practical-cbx-parent {
            padding: 0 !important;
            text-align: left;
        }

        .red {
            background: red !important;
        }

        /*

            #timetable_FE {
                background: #5bc0de;
            }

            #timetable_SE {
                background: #0379C4;
            }

            #timetable_TE {
                background: darkgrey;
            }

            #timetable_BE {
                background: cyan;
            }
        */

    </style>

    <style>
        input {
            max-width: 20px;
        }

        * {
            font-size: 0.96em;
        }

        .time-sidebar {
            padding: 0;
            width: 1px;
            transform: rotate(-90deg);
        }

    </style>
{% endblock style %}

{% block body %}
    <form method="post" id="timetable_form" action="{% url 'Timetable:save_timetable' %}">
        {% csrf_token %}
        <label for="id_year">Year: </label>
        <select id="id_year" onchange="set_subject()">
            {% for yr in year %}
                <option>{{ yr }}</option>
            {% endfor %}
        </select>
        <label for="id_subject">Subjects: </label>


        <select id="id_subject" onchange="change_selected_subject(this)">
        </select>

        <br>
        {% for yr in year %}
            {#                <option>{{ yr }}</option>#}
            <div class="container-fluid hidden" id="timetable_{{ yr }}">
                <table id="time_tab_{{ yr }}">
                    <tr>
                        <th colspan="2" class="titlebar">Time</th>
                        {% for day in days %}
                            <th class="titlebar">
                                {{ day }}
                            </th>
                        {% endfor %}
                    </tr>
                    {% for time in times %}
                        <tr class="border-down">
                            <th rowspan="4" class="sidebar time-sidebar">
                                {{ time }}
                            </th>

                            {% for x in division %}
                                <tr class="content border-down" style="">
                                    {% for z in '1234567' %}

                                        {% if forloop.counter0 %}
                                            <td class="border-left">
                                                <input type="checkbox" class="cbx"
                                                       name="id_cbx_{{ time }}_{{ x }}_{{ z }}_{{ yr }}"
                                                       id="id_room_{{ time }}_{{ x }}_{{ z }}_{{ yr }}_cbx"
                                                       onchange="add_remove_from_dictionary(this)">

                                            </td>
                                        {% else %}
                                            <td class="sidebar">{{ x }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                    {% endfor %}
                </table>
                <br/>

            </div>
        {% endfor %}
        <div class="col-md-offset-6">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


{% endblock body %}

{% block html %}



    {#    Make Selected year timetable visible#}
    <script>
        var all_years = {{ year|safe }};

        function make_timetable_visible() {
            for (i = 0; i < all_years.length; i++) {
                document.getElementById('timetable_' + all_years[i]).classList.add("hidden");
            }
            let year = document.getElementById("id_year").value;
            let timetable_object = document.getElementById('timetable_' + year);
            timetable_object.classList.remove("hidden");
        }

    </script>

    <script>
        var block_list = {};
        var subject_teacher_json ={{ subject_teacher_json|safe }};

        function unblock_previous_subject() {
            let previous_block_list = block_list[global_current_subject];
            if (previous_block_list) {
                for (i = 0; i < previous_block_list.length; i++) {
                    document.getElementById(previous_block_list[i]).disabled = false;
                }
            }
        }

        function block_all_current_subject(current_subject, previous_unblock) {

            {#alert(previous_unblock);#}
            let current_block_list = block_list[current_subject];
            if (current_block_list) {
                for (i = 0; i < current_block_list.length; i++) {
                    let checkbox_object = document.getElementById(current_block_list[i]);
                    {#alert(checkbox_object.id);#}
                    if (checkbox_object.checked === false) {
                        checkbox_object.disabled = true;
                    }
                }
            }

            if (previous_unblock === true && global_current_subject !== "") {
                unblock_previous_subject();
            }

            global_current_subject = current_subject;

            {#console.log(block_list);#}
        }
    </script>

    <script>

        for (subject in subject_teacher_json) {
            if (subject_teacher_json.hasOwnProperty(subject)) {
                block_list[subject] = []
            }
        }


        function block_checkbox(checkbox_object, teachers, current_subject, time, year, day, current_division, complement, real_selected) {
            for (subject in subject_teacher_json) {
                if (subject_teacher_json.hasOwnProperty(subject)) {
                    for (division in subject_teacher_json[subject]) {
                        if (subject_teacher_json[subject].hasOwnProperty(division)) {
                            let all_teachers = subject_teacher_json[subject][division];
                            for (each_teacher in all_teachers) {
                                if (all_teachers.hasOwnProperty(each_teacher)) {
                                    if (all_teachers[each_teacher] === teachers[0]) {
                                        if (!(subject === current_subject && current_division === division)) {
                                            let subject_year = "";
                                            for (each_year in subjects_json) {
                                                if (subjects_json.hasOwnProperty(each_year)) {
                                                    if ((subjects_json[each_year]['practical'].indexOf(subject) !== -1) || (subjects_json[each_year]['theory'].indexOf(subject) !== -1)) {
                                                        subject_year = each_year;
                                                        break;
                                                    }

                                                }
                                            }

                                            if (subject_year !== "") {

                                                if (subjects_json[subject_year]['theory'].indexOf(subject) !== -1) {
                                                    let id = 'id_room_' + time + '_' + division + '_' + day + '_' + subject_year + '_cbx';
                                                    if (complement === false) {
                                                        block_list[subject].push(id);
                                                        {#alert(subject + current_subject + current_division + division);#}
                                                    }
                                                    else {
                                                        let index = block_list[subject].indexOf(id);
                                                        block_list[subject].splice(index, 1);
                                                        document.getElementById(id).disabled = false;
                                                    }
                                                }
                                                else {
                                                    {#console.log("Is practical");#}
                                                    let current_batch = checkbox_object.id.split('_')[configuration['batch_index']];
                                                    let current_time = checkbox_object.id.split('_')[configuration['time_index']];
                                                    let current_day = checkbox_object.id.split('_')[configuration['day_index']];
                                                    let id = 'id_teacher_' + time + '_' + division + '_' + day + '_' + subject_year + '_';
                                                    let batch = batches_json[subject_year][division];
                                                    if (complement === false) {

                                                        for (i in batch) {

                                                            let select_obj = document.getElementById(id + batch[i]);
                                                            if (block_faculty_list[teachers[0]].indexOf(id + batch[i]) === -1) {

                                                                if (!(batch[i] === current_batch && current_time === time && current_day === day)) {
                                                                    block_faculty_list[teachers[0]].push(id + batch[i]);
                                                                    if (select_obj) {

                                                                        if (select_obj.querySelector('option[value="' + teachers[0] + '"]')) {
                                                                            select_obj.removeChild(select_obj.querySelector('option[value="' + teachers[0] + '"]'));
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    else {
                                                        for (i in batch) {
                                                            let select_obj = document.getElementById(id + batch[i]);
                                                            {#console.log(batch[i]);#}
                                                            let index = block_faculty_list[teachers[0]].indexOf(id + batch[i]);
                                                            block_faculty_list[teachers[0]].splice(index, 1);


                                                            if (select_obj) {
                                                                let split_blocking_id = (id + batch[i]).split('teacher');
                                                                let blocking_subject_obj = document.getElementById(split_blocking_id[0] + 'subject' + split_blocking_id[1]);
                                                                if (subject_teacher_json[blocking_subject_obj.value][division].indexOf(teachers[0]) !== -1) {
                                                                    if (!select_obj.querySelector('option[value="' + teachers[0] + '"]')) {
                                                                        let option = document.createElement("option");
                                                                        option.text = teachers[0];
                                                                        option.value = teachers[0];

                                                                        select_obj.add(option);
                                                                    }
                                                                    {#console.log(id + batch[i]);#}

                                                                }
                                                            }
                                                        }

                                                    }
                                                }
                                            }

                                            else {
                                                alert('Subject not found');
                                                alert('Should never go here');
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            if (subjects_json[year]['theory'].indexOf(current_subject) !== -1) {

                if (complement === false) {
                    block_all_current_subject(current_subject, false);
                }
                else {
                    block_all_current_subject(real_selected, false);
                }
            }
        }

        {#        Blocks all checkboxes for the selected subject#}


    </script>

    <script>
        //Gets subject of theory and practical for current year.
        var subjects_json = {{ subject_json|safe }};

        var configuration = {
            "time_index": 2,
            "division_index": 3,
            "day_index": 4,
            "year_index": 5,
            "batch_index": 6
        };

        var global_current_subject = "";

        //Sets option of combo box with subjects_json
        function set_subject() {
            {#alert('set subjects');#}
            var selected_year = document.getElementById("id_year").value;
            var current_subjects_theory = subjects_json[selected_year]["theory"];
            var current_subjects_practical = subjects_json[selected_year]["practical"];
            console.log(current_subjects_practical);
            console.log(current_subjects_theory);
            //clears select options
            $('#id_subject').find('option').remove();
            //add theory subject
            $.each(current_subjects_theory, function (i, el) {
                $('#id_subject').append(new Option(el, el))
            });
            //add practical subject
            $.each(current_subjects_practical, function (i, el) {
                $('#id_subject').append(new Option(el, el))
            });

            make_timetable_visible();

            block_all_current_subject(document.getElementById('id_subject').value, true);
        }

        global_current_subject = document.getElementById('id_subject').value;

        //Mark current year checked boxes on year change
        /*function mark_current_year(selected_year) {

            let subjects = subjects_json[selected_year];
            for (i = 0; i < subjects.length(); i++) {
                let to_check = subject_teacher_json[subjects[i]];
                for (j = 0; j < to_check.length(); j++) {
                    document.getElementById(to_check[j]).checked = true;
                }
            }
        }*/
    </script>


    <script>
        //keep tracks of subject where they are checked for division,day,time slot.
        var subject_dictionary = [];
        var block_room_list = {};
        var block_faculty_list = {};

        var all_divisions = {{ division|safe }};
        var batches_json ={{ batches_json|safe }};
        {#remove this        alert(batches_json);#}
        var theory_room = {{ theory_room|safe }};
        var practical_room = {{ practical_room|safe }};
        var all_subjects = {{ all_subjects|safe }};
        var faculty = {{ faculty|safe }};

        function create_subject_dictionary() {
            $.each(all_subjects, function (i, element) {
                subject_dictionary[element] = [];
            });
        }

        function create_faculty_block_dictionary() {
            $.each(faculty, function (i, element) {
                block_faculty_list[element] = [];
            });
        }

        function create_room_dictionary() {
            {#alert('up');#}
            $.each(theory_room, function (i, element) {
                {#alert('here0');#}
                block_room_list[element] = [];
            });
            $.each(practical_room, function (i, element) {
                {#alert('here0');#}
                block_room_list[element] = [];
            });
        }


        {#Checkbox checked#}

        function add_remove_from_dictionary(checkbox_object) {
            if (document.getElementById("id_subject").value !== "") {


                let id = checkbox_object.id;
                let selected_subject = document.getElementById("id_subject").value;
                {#alert('dict');#}
                console.log(selected_subject);
                let id_splilt_array = id.split('_');
                let division = id_splilt_array[configuration['division_index']];
                let time = id_splilt_array[configuration['time_index']];
                let day = id_splilt_array[configuration['day_index']];
                let year = id_splilt_array[configuration['year_index']];
                let teachers = subject_teacher_json[selected_subject][division];
                if (checkbox_object.checked) {
                    if (is_practical(selected_subject) === false) {
                        //add <select> Room </select>
                        let room_object = document.createElement("select");
                        room_object.id = "id_room_" + time + "_" + division + "_" + day + "_" + year;
                        let at_least_one_room = false;

                        $.each(theory_room, function (i, element) {
                            if (block_room_list[element].indexOf(room_object.id) === -1) {
                                at_least_one_room = true;
                            }
                        });
                        if (at_least_one_room === true) {
                            $.each(theory_room, function (i, element) {
                                if (block_room_list[element].indexOf(room_object.id) === -1) {
                                    let option = document.createElement("option");
                                    option.value = element;
                                    option.text = element;
                                    room_object.appendChild(option);
                                }
                            });

                            checkbox_object.classList.add("checked-cbx");
                            subject_dictionary[selected_subject].push(id);

                            let checkbox_parent_object = checkbox_object.parentElement;
                            {#let subject_text = document.createTextNode(selected_subject);#}
                            //add <input> Subject</input>
                            let subject_object = document.createElement("input");
                            subject_object.value = selected_subject;
                            subject_object.id = "id_subject_" + time + "_" + division + "_" + day + "_" + year;
                            subject_object.setAttribute('name', "id_subject_" + time + "_" + division + "_" + day + "_" + year);
                            subject_object.classList.add("subject_input");
                            subject_object.readOnly = true;

                            checkbox_parent_object.appendChild(subject_object);
                            //add <select> Teacher </select>
                            let teacher_object = document.createElement("select");
                            checkbox_parent_object.appendChild(teacher_object);
                            teacher_object.id = "id_teacher_" + time + "_" + division + "_" + day + "_" + year;


                            teacher_object.setAttribute('name', "id_teacher_" + time + "_" + division + "_" + day + "_" + year);
                            $.each(teachers, function (i, element) {
                                let option = document.createElement("option");
                                option.value = element;
                                option.text = element;
                                teacher_object.appendChild(option);
                            });
                            checkbox_parent_object.classList.add("checked-cbx-parent");

                            block_checkbox(checkbox_object, teachers, selected_subject, time, year, day, division, false);
                            room_object.setAttribute('onfocus', 'set_previous_room(this)');
                            room_object.setAttribute('onchange', 'room_change_block(this,false)');
                            checkbox_parent_object.appendChild(room_object);

                            room_object.setAttribute('name', "id_room_" + time + "_" + division + "_" + day + "_" + year);


                            let current_room = room_object.value;
                            block_room(room_object.id, current_room, false, false);
                        }
                        else {
                            alert("Sorry no room is available");
                            checkbox_object.checked = false;
                        }
                    }
                    else {
                        checkbox_object.classList.add("practical-cbx");
                        checkbox_object.parentElement.classList.add("practical-cbx-parent");
                        let table_obj = document.createElement('table');
                        for (let batch in batches_json[year][division]) {
                            let row_obj = document.createElement('tr');
                            let column_obj = document.createElement('td');
                            column_obj.innerHTML = batches_json[year][division][batch];
                            row_obj.appendChild(column_obj);

                            column_obj = document.createElement('td');
                            let cbx_obj = document.createElement('input');
                            cbx_obj.setAttribute('type', 'checkbox');
                            cbx_obj.setAttribute('class', 'checked-cbx');
                            cbx_obj.setAttribute('onchange', 'block_faculty_practical(this)');
                            cbx_obj.id = "id_room_" + time + "_" + division + "_" + day + "_" + year + "_" + batches_json[year][division][batch] + "_cbx";
                            cbx_obj.setAttribute('name', "id_cbx_" + time + "_" + division + "_" + day + "_" + year + "_" + batches_json[year][division][batch]);

                            column_obj.appendChild(cbx_obj);
                            row_obj.appendChild(column_obj);

                            table_obj.appendChild(row_obj);
                        }
                        checkbox_object.parentElement.appendChild(table_obj);
                    }
                }
                else {
                    {#for practical#}
                    let table = checkbox_object.parentElement.querySelector('table');
                    if (table) {
                        for (let batch in batches_json[year][division]) {
                            let batch_cbx_id = "id_room_" + time + "_" + division + "_" + day + "_" + year + "_" + batches_json[year][division][batch] + "_cbx";
                            let batch_cbx_obj = document.getElementById(batch_cbx_id);
                            if (batch_cbx_obj.checked) {
                                batch_cbx_obj.checked = false;
                                block_faculty_practical(batch_cbx_obj);
                            }
                        }
                        {#let table = checkbox_object.parentElement.querySelector('table');#}
                        table.parentElement.removeChild(table);
                        checkbox_object.classList.remove("checked-cbx");
                        checkbox_object.classList.remove("practical-cbx");
                        checkbox_object.parentElement.classList.remove("checked-cbx-parent");
                        checkbox_object.parentElement.classList.remove("practical-cbx-parent");
                    }
                    else {
                        {#console.log('id_subject_' + time + '_' + division + '_' + day);#}
                        let local_selected_subject = document.getElementById('id_subject_' + time + '_' + division + '_' + day + "_" + year).value;
                        let local_teachers = [document.getElementById('id_teacher_' + time + '_' + division + '_' + day + "_" + year).value];
                        let index = subject_dictionary[local_selected_subject].indexOf(id);
                        if (index !== -1) {
                            subject_dictionary[local_selected_subject].splice(index, 1);
                            checkbox_object.classList.remove("checked-cbx");
                            checkbox_object.parentElement.classList.remove("checked-cbx-parent");
                            checkbox_object.classList += " cbx";
                            checkbox_object.parentElement.removeChild(document.getElementById("id_teacher_" + time + "_" + division + "_" + day + "_" + year));
                            checkbox_object.parentElement.removeChild(document.getElementById("id_subject_" + time + "_" + division + "_" + day + "_" + year));
                            let room_obj = document.getElementById("id_room_" + time + "_" + division + "_" + day + "_" + year);
                            block_room(checkbox_object.id, room_obj.value, true, false);
                            checkbox_object.parentElement.removeChild(room_obj);
                            block_checkbox(checkbox_object, local_teachers, local_selected_subject, time, year, day, division, true, selected_subject);
                        }
                        else {
                            alert('Some error occured');
                            alert('Should never go here');
                        }

                    }
                }

            }
        }

        function room_change_block(room_obj, practical) {
            if (practical) {
                let current_batch = room_obj.id.split('_')[6];
                block_room(room_obj.id, previous_room, true, current_batch);
                block_room(room_obj.id, room_obj.value, false, current_batch);
            }
            else {
                block_room(room_obj.id, previous_room, true);
                block_room(room_obj.id, room_obj.value, false);
            }
        }

        function block_faculty_practical(cbx_obj) {
            let selected_subject = document.getElementById("id_subject").value;
            let cbx_splitted = cbx_obj.id.split('_');
            let division = cbx_splitted[configuration['division_index']];
            let year = cbx_splitted[configuration['year_index']];
            let day = cbx_splitted[configuration['day_index']];
            let time = cbx_splitted[configuration['time_index']];
            let batch = cbx_splitted[configuration['batch_index']];

            if (cbx_obj.checked) {
                let subject_column = document.createElement('td');
                let subject_object = document.createElement("input");
                subject_object.value = selected_subject;
                subject_object.id = "id_subject_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                subject_object.setAttribute('name', "id_subject_" + time + "_" + division + "_" + day + "_" + year + "_" + batch);
                subject_object.classList.add("subject_input");
                subject_object.readOnly = true;
                subject_column.appendChild(subject_object);
                cbx_obj.parentElement.parentElement.appendChild(subject_column);

                let faculty_column = document.createElement('td');
                let select_obj = document.createElement('select');
                select_obj.id = "id_teacher_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                select_obj.setAttribute('name', "id_teacher_" + time + "_" + division + "_" + day + "_" + year + "_" + batch);
                select_obj.setAttribute('onfocus', 'set_previous_faculty(this)');
                select_obj.setAttribute('onchange', 'practical_faculty_change(this,true)');


                /* */

                let faculty_list = subject_teacher_json[selected_subject][division];

                for (let i in faculty_list) {

                    if (!select_obj.querySelector('option[value="' + faculty_list[i] + '"]')) {

                        if (block_faculty_list[faculty_list[i]].indexOf(select_obj.id) === -1) {
                            let option = document.createElement('option');
                            option.text = faculty_list[i];
                            option.value = faculty_list[i];
                            select_obj.appendChild(option);
                        }
                    }
                }
                let selected_faculty = select_obj.value;

                /* Update Faculty blocking list */

                if (selected_faculty) {


                    let select = document.createElement('select');
                    select.id = "id_room_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                    {#block_checkbox(cbx_obj, [selected_faculty], selected_subject, time, year, day, division, false);#}
                    let at_least_one_room = false;
                    $.each(practical_room, function (i, element) {

                        if (block_room_list[element].indexOf(select.id) === -1) {
                            at_least_one_room = true;
                        }
                    });

                    if (at_least_one_room === true) {
                        faculty_column.appendChild(select_obj);
                        cbx_obj.parentElement.parentElement.appendChild(faculty_column);


                        let room_column = document.createElement('td');

                        select.setAttribute('name', "id_room_" + time + "_" + division + "_" + day + "_" + year + "_" + batch);
                        select.setAttribute('onfocus', 'set_previous_room(this)');
                        select.setAttribute('onchange', 'room_change_block(this, true)');
                        room_column.appendChild(select);
                        $.each(practical_room, function (i, element) {

                            if (block_room_list[element].indexOf(select.id) === -1) {
                                let option = document.createElement("option");
                                option.value = element;
                                option.text = element;
                                select.appendChild(option);
                            }
                        });
                        cbx_obj.parentElement.parentElement.appendChild(room_column);
                        let current_room = select.value;
                        block_room(select.id, current_room, false, batch);


                        practical_faculty_change(select_obj, false);
                    }
                    else {
                        alert("Sorry no room available");
                        cbx_obj.checked = false;
                        subject_column.parentElement.removeChild(subject_column);

                    }
                }
                else {

                    cbx_obj.checked = false;

                    subject_column.parentElement.removeChild(subject_column);
                    {#faculty_column.parentElement.removeChild(faculty_column);#}

                    alert("Sorry no faculty available.");

                }

            }
            else {

                let faculty_id = "id_teacher_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                let faculty_obj = document.getElementById(faculty_id);
                let selected_faculty = faculty_obj.value;
                {#update_faculty_blocking_list(selected_faculty, time, division, day, year, batch, true);#}
                practical_faculty_change(faculty_obj, true, selected_faculty, true);


                let room_id = "id_room_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                let room_obj = document.getElementById(room_id);
                block_room(cbx_obj.id, room_obj.value, true, true);


                let subject_id = "id_subject_" + time + "_" + division + "_" + day + "_" + year + "_" + batch;
                let subject_obj = document.getElementById(subject_id);
                {#block_checkbox(cbx_obj, [selected_faculty], selected_subject, time, year, day, division, true, subject_obj.value);#}

                room_obj.parentElement.parentElement.removeChild(room_obj.parentElement);
                faculty_obj.parentElement.parentElement.removeChild(faculty_obj.parentElement);
                subject_obj.parentElement.parentElement.removeChild(subject_obj.parentElement);
                toggle_practical_cbx(selected_subject);
            }
        }

        function practical_faculty_change(cbx_obj, remove_prev, prev_faculty, temp) {
            if (prev_faculty == null) {
                prev_faculty = previous_faculty;
            }
            let split = cbx_obj.id.split('teacher');
            let subject_obj = document.getElementById(split[0] + 'subject' + split[1]);
            let cbx_splitted = cbx_obj.id.split('_');
            let selected_subject = document.getElementById("id_subject").value;

            let selected_faculty = cbx_obj.value;
            let division = cbx_splitted[configuration['division_index']];
            let year = cbx_splitted[configuration['year_index']];
            let day = cbx_splitted[configuration['day_index']];
            let time = cbx_splitted[configuration['time_index']];
            let batch = cbx_splitted[configuration['batch_index']];


            /*Previous->true selected->false*/
            {#update_faculty_blocking_list(previous_faculty, time, division, day, year, batch, true);#}

            for (let yr in all_years) {
                for (let div in all_divisions) {
                    let current_year = all_years[yr];
                    let current_div = all_divisions[div];
                    if (batches_json.hasOwnProperty(current_year) && batches_json[current_year].hasOwnProperty(current_div)) {
                        for (let i in batches_json[current_year][current_div]) {
                            if (batch !== batches_json[year][division][i]) {
                                let blocking_id = "id_teacher_" + time + "_" + current_div + "_" + day + "_" + current_year + "_" + batches_json[current_year][current_div][i];
                                let select_obj = document.getElementById(blocking_id);

                                if (remove_prev === true) {

                                    let index = block_faculty_list[prev_faculty].indexOf(blocking_id);
                                    if (index != null) {
                                        block_faculty_list[prev_faculty].splice(index, 1);
                                        if (select_obj) {
                                            let split_blocking_id = blocking_id.split('teacher');
                                            let blocking_subject_obj = document.getElementById(split_blocking_id[0] + 'subject' + split_blocking_id[1]);
                                            if (subject_teacher_json[blocking_subject_obj.value][current_div].indexOf(prev_faculty) !== -1) {

                                                if (!select_obj.querySelector('option[value="' + prev_faculty + '"]')) {
                                                    let option_element = document.createElement('option');
                                                    option_element.text = prev_faculty;
                                                    option_element.value = prev_faculty;


                                                    select_obj.add(option_element);
                                                }
                                            }
                                        }
                                    }
                                    else {
                                        console.log('Should never go here!!!')
                                    }
                                }
                                if (temp === true) {

                                }
                                else {
                                    block_faculty_list[selected_faculty].push(blocking_id);


                                    if (select_obj) {
                                        if (select_obj.querySelector('option[value="' + selected_faculty + '"]')) {
                                            select_obj.removeChild(select_obj.querySelector('option[value="' + selected_faculty + '"]'));

                                        }
                                    }
                                }

                            }


                        }
                    }
                }

            }


            {#update_faculty_blocking_list(selected_faculty, time, division, day, year, batch, false);#}

            if (remove_prev === true) {
                block_checkbox(cbx_obj, [prev_faculty], selected_subject, time, year, day, division, true);
            }
            if (temp === true) {

            }
            else {
                block_checkbox(cbx_obj, [selected_faculty], selected_subject, time, year, day, division, false);
            }


        }
    </script>

    {#    Check if subject is practical#}
    <script>
        function is_practical(subject) {
            for (var i = 0; i < all_years.length; i++) {
                if (subjects_json[all_years[i]]['practical'].indexOf(subject) !== -1) {
                    return true;
                }
            }
            return false;
        }
    </script>

    <script>
        function update_faculty_blocking_list(selected_faculty, time, division, day, year, batch, complement, real_subject) {

            for (let yr in all_years) {
                for (let div in all_divisions) {
                    let current_year = all_years[yr];
                    let current_div = all_divisions[div];
                    if (batches_json.hasOwnProperty(current_year) && batches_json[current_year].hasOwnProperty(current_div)) {
                        for (let i in batches_json[current_year][current_div]) {
                            if (batch !== batches_json[year][division][i]) {
                                let blocking_id = "id_teacher_" + time + "_" + current_div + "_" + day + "_" + current_year + "_" + batches_json[current_year][current_div][i];
                                if (complement === false) {
                                    block_faculty_list[selected_faculty].push(blocking_id);
                                }
                                else {
                                    let index = block_faculty_list[selected_faculty].indexOf(blocking_id);
                                    if (index != null) {
                                        block_faculty_list[selected_faculty].splice(index, 1);
                                    }
                                    else {
                                        console.log('Should never go here!!!')
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    </script>
    {#    Get previous of combo box room#}
    <script>
        var previous_room;

        function set_previous_room(obj) {
            previous_room = obj.value;
            {#console.log(previous_room);#}
            obj.blur();
        }
    </script>
    <script>
        var previous_faculty;

        function set_previous_faculty(obj) {
            previous_faculty = obj.value;
            {#console.log(previous_faculty);#}
            obj.blur();
        }
    </script>


    <script>
        /* Needs Optimization */
        var counterrr = 0;

        function block_room(cbx_id, current_room, complement, batch) {
            let cbx = cbx_id.split('_');
            for (let yr in all_years) {
                {#alert(yr);#}
                for (let div in all_divisions) {
                    {#alert(current_room);#}
                    let current_year = all_years[yr];
                    let current_div = all_divisions[div];
                    if (batches_json.hasOwnProperty(current_year) && batches_json[current_year].hasOwnProperty(current_div)) {
                        for (let i in batches_json[current_year][current_div]) {
                            let block_id = cbx[0] + '_' + cbx[1] + '_' + cbx[2] + '_' + current_div + '_' + cbx[4] + '_' + current_year + "_" + batches_json[current_year][current_div][i];

                            if (!(cbx.length > 6 && current_div === cbx[configuration['division_index']] && current_year === cbx[configuration['year_index']] && cbx[configuration['batch_index']] === batches_json[current_year][current_div][i])) {
                                if (complement === false) {
                                    block_room_list[current_room].push(block_id);
                                    if (document.getElementById(block_id)) {
                                        let blocked = document.getElementById(block_id);
                                        if (blocked.querySelector('option[value="' + current_room + '"]')) {
                                            blocked.removeChild(blocked.querySelector('option[value="' + current_room + '"]'));
                                        }
                                    }
                                }
                                else {
                                    let index = block_room_list[current_room].indexOf(block_id);
                                    block_room_list[current_room].splice(index, 1);
                                    if (document.getElementById(block_id)) {
                                        let blocked = document.getElementById(block_id);
                                        let option_element = document.createElement('option');
                                        option_element.text = current_room;
                                        option_element.value = current_room;
                                        blocked.appendChild(option_element);
                                    }
                                }
                            }
                        }

                    }

                    let block_id = cbx[0] + '_' + cbx[1] + '_' + cbx[2] + '_' + current_div + '_' + cbx[4] + '_' + current_year;
                    if (!(current_div === cbx[configuration['division_index']] && current_year === cbx[configuration['year_index']] && cbx.length <= 6)) {
                        if (complement === false) {
                            {#console.log(current_room);#}
                            {#console.log(counterrr);#}
                            counterrr += 1;
                            block_room_list[current_room].push(block_id);
                            if (document.getElementById(block_id)) {

                                let blocked = document.getElementById(block_id);
                                if (blocked.querySelector('option[value="' + current_room + '"]')) {
                                    blocked.removeChild(blocked.querySelector('option[value="' + current_room + '"]'));
                                }
                            }
                        }
                        else {
                            let index = block_room_list[current_room].indexOf(block_id);
                            block_room_list[current_room].splice(index, 1);
                            if (document.getElementById(block_id)) {
                                let blocked = document.getElementById(block_id);
                                let option_element = document.createElement('option');
                                option_element.text = current_room;
                                option_element.value = current_room;
                                blocked.appendChild(option_element);
                            }
                        }
                    }


                }
            }

        }
    </script>


    {#    Subject combobox onchange function#}
    <script>
        function change_selected_subject(subject_obj) {

            let current_subject = subject_obj.value;
            block_all_current_subject(current_subject, true);
            toggle_practical_cbx(current_subject);


        }
    </script>



    <script>


        function fill_timetable() {
            let timetable_instance_theory = {{ timetable_instance_theory|safe }};
            let timetable_instance_practical = {{ timetable_instance_practical|safe }};
            let year_obj = document.getElementById('id_year');
            let subject_obj = document.getElementById('id_subject');
            $.each(timetable_instance_theory, function (id, content) {
                {#console.log(id, content);#}

                let faculty = content['faculty'];
                let room = content['room'];
                let subject = content['subject'];


                let splitted = id.split('_');

                let year = splitted[configuration['year_index']];
                let time = splitted[configuration['time_index']];
                let division = splitted[configuration['division_index']];
                let day = splitted[configuration['day_index']];

                $("#id_year").val(year);
                set_subject();
                $("#id_subject").val(subject);
                {#alert(id);#}
                let cbx_obj = document.getElementById(id);

                cbx_obj.checked = true;

                add_remove_from_dictionary(cbx_obj);
                console.log(cbx_obj);

                let room_id = 'id_room_' + time + '_' + division + '_' + day + '_' + year;
                {#$('#' + room_id).val(room);#}

                console.log(room_id);
                let room_obj = document.getElementById(room_id);
                console.log(room_obj);
                previous_room = room_obj.value;
                room_obj.value = room;
                {#cbx_obj.checked = true;#}


                room_change_block(room_obj, false);

                cbx_obj.disabled = false;

                let faculty_id = 'id_teacher_' + time + '_' + division + '_' + day + '_' + year;
                let faculty_obj = document.getElementById(faculty_id);
                previous_faculty = faculty_obj.value;
                faculty_obj.value = faculty;


                {#alert(subject);#}
                {#alert(year);#}
            });
            {#console.log("here");#}
            {#console.log(timetable_instance_practical);#}
            $.each(timetable_instance_practical, function (id, content) {

                let faculty = content['faculty'];
                let room = content['room'];
                let subject = content['subject'];

                let splitted = id.split('_');

                let year = splitted[configuration['year_index']];
                let time = splitted[configuration['time_index']];
                let division = splitted[configuration['division_index']];
                let day = splitted[configuration['day_index']];
                let batch = splitted[configuration['batch_index']];
                $("#id_year").val(year);
                set_subject();
                $("#id_subject").val(subject);

                let parent_id = 'id_room_' + time + '_' + division + '_' + day + '_' + year + '_cbx';
                let parent_obj = document.getElementById(parent_id);
                {#alert(parent_obj.id);#}

                if (parent_obj.checked === false) {
                    parent_obj.checked = true;
                    add_remove_from_dictionary(parent_obj);
                }
                let cbx_obj = document.getElementById(id);
                if (cbx_obj == null) {
                    alert(parent_obj.checked);
                    alert(parent_id);
                    alert(id);
                }
                cbx_obj.checked = true;
                block_faculty_practical(cbx_obj);

                let faculty_id = 'id_teacher_' + time + '_' + division + '_' + day + '_' + year + '_' + batch;
                let faculty_obj = document.getElementById(faculty_id);
                previous_faculty = faculty_obj.value;
                faculty_obj.value = faculty;
                practical_faculty_change(faculty_obj, true);


                let room_id = 'id_room_' + time + '_' + division + '_' + day + '_' + year + '_' + batch;
                let room_obj = document.getElementById(room_id);
                previous_room = room_obj.value;
                room_obj.value = room;
                room_change_block(room_obj, true);
            });
        }
    </script>


    {#    Document on loading function#}
    <script>
        function on_document_loading() {
            create_room_dictionary();
            create_subject_dictionary();
            create_faculty_block_dictionary();

            set_subject();

            fill_timetable();
        }
    </script>


    {#    Bind document on ready to function#}


    <script>
        function toggle_practical_cbx(subject) {
            $('#timetable_form').find('input[type="checkbox"]').each(function () {
                if ($(this).is(":checked")) {
                    if (this.parentElement.querySelector('table')) {
                        $(this.parentElement.querySelector('table').querySelectorAll('input[type="checkbox"]')).each(function () {
                            if (is_practical(subject) === false && !$(this).is(":checked")) {
                                $(this).attr("disabled", true);
                            }
                            else {
                                $(this).removeAttr("disabled");
                            }
                        })
                    }
                }
            });
        }
    </script>
    {#Create blocking list selected subject#}


    {#    Remove ids from block_list#}



{% endblock html %}
{% block on_ready %}

    {#    <script>#}
    on_document_loading();
    {#</script>#}
{% endblock on_ready %}
