*.pyc
Media*
.idea*
Configuration/__pycache__/
Dashboard/__pycache__/
Dashboard/migrations/__pycache__/
EnterpriseResourcePlanning/__pycache__/
General/__pycache__/
General/migrations/__pycache__/
Login/__pycache__/
Login/migrations/__pycache__/
Registration/__pycache__/
Registration/migrations/__pycache__/
Sync/__pycache__/
Timetable/__pycache__/
Timetable/migrations/__pycache__/
Update/__pycache__/
Update/migrations/__pycache__/
Roles/__pycache__/
Roles/migrations/__pycache__/
Media/documents/.~lock.Timetable_TE_Computer.xlsx#
Requests/__pycache__/
Requests/migrations/__pycache__/
Research/__pycache__/
Research/migrations/__pycache__/
db.sqlite3
*.uml