{% extends "./base.html" %}
{% block title %}Faculty Registration | ERP {% endblock %}

{% block body %}
    <form method="POST" id="faculty_form" action="{% url 'registration:register_faculty' %}"
          onsubmit="return fileSizeValidate()"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pad accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        <h4 class="panel-title">
                            Personal Info
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <fieldset class="col-lg-6">
                                <legend>Basic Info</legend>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <div id="input-file">{{ form.doc_profile_pic }}</div>
                                        <img id="myImg"
                                             src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/sign-add-icon.png"
                                             alt="Uploaded image is broken"/>
                                    </div>
                                    <div class="form-element">
                                        <label class="control-label">{{ form.faculty_code.label_tag }}</label>
                                        <div class="">{{ form.faculty_code }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.first_name.errors }}</span>
                                        <label class="control-label">{{ form.first_name.label_tag }}</label>
                                        <div class="">{{ form.first_name }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.middle_name.errors }}</span>
                                        <label class="control-label">{{ form.middle_name.label_tag }}</label>
                                        <div class="">{{ form.middle_name }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.last_name.errors }}</span>
                                        <label class="control-label">{{ form.last_name.label_tag }}</label>
                                        <div class="">{{ form.last_name }}</div>
                                    </div>
                                    <div class="form-element">
                                        <label class="control-label">{{ form.initials.label_tag }}</label>
                                        <div class="">{{ form.initials }}</div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <label class="control-label">{{ form.DOB.label_tag }}</label>
                                        <div class="">{{ form.DOB }}</div>
                                    </div>
                                    <div class="form-element">
                                        <label class="control-label">{{ form.teaching_from.label_tag }}</label>
                                        <div class="">{{ form.teaching_from }}</div>
                                    </div>
                                    <div class="form-element">
                                        <label class="control-label">{{ form.subjects_experience.label_tag }}</label>
                                        <div class="">{{ form.subjects_experience }}</div>
                                    </div>
                                    <div class="form-element">
                                        <label class="control-label">{{ form.projects.label_tag }}</label>
                                        <div class="">{{ form.projects }}</div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-lg-6">
                                <legend>Personal Detail</legend>
                                <div class="form-element">
                                    <label class="control-label">{{ form.caste_type.label_tag }}</label>
                                    <div class="">{{ form.caste_type }}</div>
                                </div>
                                <div class="form-element">
                                    <label class="control-label">{{ form.email.label_tag }}</label>
                                    <div class="">{{ form.email }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.mobile.errors }}</span>
                                    <label class="control-label">{{ form.mobile.label_tag }}</label>
                                    <div class="">{{ form.mobile }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.religion.errors }}</span>
                                    <label class="control-label">{{ form.religion.label_tag }}</label>
                                    <div class="">{{ form.religion }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.sub_caste.errors }}</span>
                                    <label class="control-label">{{ form.sub_caste.label_tag }}</label>
                                    <div class="">{{ form.sub_caste }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.handicapped.errors }}</span>
                                    <label class="control-label">{{ form.handicapped.label_tag }}</label>&nbsp;{{ form.handicapped }}
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.nationality.errors }}</span>
                                    <label class="control-label">{{ form.nationality.label_tag }}</label>
                                    <div class="">{{ form.nationality }}</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pad accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        <h4 class="panel-title">
                            Family
                            <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                        </h4>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <fieldset class="col-lg-6">
                                <legend>Family</legend>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <span class="error">{{ form.father_name.errors }}</span>
                                        <label class="control-label">{{ form.father_name.label_tag }}</label>
                                        <div class="">{{ form.father_name }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.father_profession.errors }}</span>
                                        <label class="control-label">{{ form.father_profession.label_tag }}</label>
                                        <div class="">{{ form.father_profession }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.father_designation.errors }}</span>
                                        <label class="control-label">{{ form.father_designation.label_tag }}</label>
                                        <div class="">{{ form.father_designation }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.father_mobile.errors }}</span>
                                        <label class="control-label">{{ form.father_mobile.label_tag }}</label>
                                        <div class="">{{ form.father_mobile }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.father_email.errors }}</span>
                                        <label class="control-label">{{ form.father_email.label_tag }}</label>
                                        <div class="">{{ form.father_email }}</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <span class="error">{{ form.mother_name.errors }}</span>
                                        <label class="control-label">{{ form.mother_name.label_tag }}</label>
                                        <div class="">{{ form.mother_name }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.mother_profession.errors }}</span>
                                        <label class="control-label">{{ form.mother_profession.label_tag }}</label>
                                        <div class="">{{ form.mother_profession }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.mother_designation.errors }}</span>
                                        <label class="control-label">{{ form.mother_designation.label_tag }}</label>
                                        <div class="">{{ form.mother_designation }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.mother_mobile.errors }}</span>
                                        <label class="control-label">{{ form.mother_mobile.label_tag }}</label>
                                        <div class="">{{ form.mother_mobile }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.mother_email.errors }}</span>
                                        <label class="control-label">{{ form.mother_email.label_tag }}</label>
                                        <div class="">{{ form.mother_email }}</div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-lg-6">
                                <legend>Emergency Contact</legend>
                                <div class="form-element">
                                    <span class="error">{{ form.emergency_name.errors }}</span>
                                    <label class="control-label">{{ form.emergency_name.label_tag }}</label>
                                    <div class="">{{ form.emergency_name }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.emergency_mobile.errors }}</span>
                                    <label class="control-label">{{ form.emergency_mobile.label_tag }}</label>
                                    <div class="">{{ form.emergency_mobile }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.emergency_relation.errors }}</span>
                                    <label class="control-label">{{ form.emergency_relation.label_tag }}</label>
                                    <div class="">{{ form.emergency_relation }}</div>
                                </div>
                                <div class="form-element">
                                    <span class="error">{{ form.emergency_address.errors }}</span>
                                    <label class="control-label">{{ form.emergency_address.label_tag }}</label>
                                    <div class="">{{ form.emergency_address }}</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pad accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        <h4 class="panel-title">
                            Address and Documents
                            <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                        </h4>
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <fieldset class="col-lg-6">
                                <legend>Address</legend>
                                <div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="sameAddress" onchange="stateChanged(this)">Current
                                            address is same as Permanent address</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <span class="error">{{ form.permanent_country.errors }}</span>
                                        <label class="control-label">{{ form.permanent_country.label_tag }}</label>
                                        <div onchange="loadSameAddress(document.getElementById('id_permanent_country'))">{{ form.permanent_country }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.permanent_state.errors }}</span>
                                        <label class="control-label">{{ form.permanent_state.label_tag }}</label>
                                        <div onchange="loadSameAddress(document.getElementById('id_permanent_state'))">{{ form.permanent_state }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.permanent_city.errors }}</span>
                                        <label class="control-label">{{ form.permanent_city.label_tag }}</label>
                                        <div onchange="loadSameAddress(document.getElementById('id_permanent_city'))">{{ form.permanent_city }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.permanent_address.errors }}</span>
                                        <label class="control-label">{{ form.permanent_address.label_tag }}</label>
                                        <div onchange="loadSameAddress(document.getElementById('id_permanent_address'))">{{ form.permanent_address }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.permanent_pin_code.errors }}</span>
                                        <label class="control-label">{{ form.permanent_pin_code.label_tag }}</label>
                                        <div onchange="loadSameAddress(document.getElementById('id_permanent_pin_code'))">{{ form.permanent_pin_code }}</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <span class="error">{{ form.current_address.errors }}</span>
                                        <label class="control-label">{{ form.current_address.label_tag }}</label>
                                        <div class="">{{ form.current_address }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.current_state.errors }}</span>
                                        <label class="control-label">{{ form.current_state.label_tag }}</label>
                                        <div class="">{{ form.current_state }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.current_city.errors }}</span>
                                        <label class="control-label">{{ form.current_city.label_tag }}</label>
                                        <div class="">{{ form.current_city }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.current_pin_code.errors }}</span>
                                        <label class="control-label">{{ form.current_pin_code.label_tag }}</label>
                                        <div class="">{{ form.current_pin_code }}</div>
                                    </div>
                                    <div class="form-element">
                                        <span class="error">{{ form.current_country.errors }}</span>
                                        <label class="control-label">{{ form.current_country.label_tag }}</label>
                                        <div class="">{{ form.current_country }}</div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-lg-6">
                                <legend>Documents</legend>
                                <div class="form-element">
                                    <label class="control-label">{{ form.doc.label_tag }}</label>
                                    <div class="">{{ form.doc }}</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-2 col-lg-offset-5">
                <input type="submit" class="btn btn-primary" value="Register"/>
            </div>

        </div>
        <br/>
        <br/>
        <br/>
    </form>
{% endblock body %}

{% block html %}

    <script>
        $(function () {
            $("#id_doc_profile_pic:hidden").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#myImg').attr('src', e.target.result);
        }
    </script>
    <script>
        function loadSameAddress(e) {
            if (document.getElementById('sameAddress').checked === true) {
                var enteredValue = e.value;
                var splitId = e.id.split('_');
                var targetId = splitId[0] + "_current_" + splitId[2];
                if (splitId[3] != null) {
                    targetId += "_" + splitId[3];
                }
                document.getElementById(targetId).value = enteredValue;
            }
        }

        function stateChanged(e) {
            var permanent = ['country', 'state', 'city', 'address', 'pin_code'];
            for (var i = 0; i < permanent.length; document.getElementById("id_current_" + permanent[i]).disabled = true, i++) ;
            if (e.checked === true) {
                loadSameAddress(document.getElementById('id_permanent_country'));
                loadSameAddress(document.getElementById('id_permanent_state'));
                loadSameAddress(document.getElementById('id_permanent_city'));
                loadSameAddress(document.getElementById('id_permanent_address'));
                loadSameAddress(document.getElementById('id_permanent_pin_code'));
            }
            else {
                for (i = 0; i < permanent.length; document.getElementById("id_current_" + permanent[i]).disabled = false, i++) ;
                document.getElementById('id_current_country').value = "";
                document.getElementById('id_current_state').value = "";
                document.getElementById('id_current_city').value = "";
                document.getElementById('id_current_address').value = "";
                document.getElementById('id_current_pin_code').value = "";
            }
        }
    </script>

    <script>
        $(function () {
            $("#myImg").on('click', function (e) {
                e.preventDefault();
                $("#id_doc_profile_pic:hidden").trigger('click');
            });
        });
    </script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-50:+0"
                // You can put more options here.

            });
        });
    </script>
    <script>
        function fileSizeValidate() {

            var element = document.getElementById("id_doc_tenth_marksheet");
            var size = element.files[0].size;
            var max_size = 1024 * 1024;
            if (size > max_size) {
                alert("File too big!");
                return false;
            }
            else {
                alert("True");
                return true;
            }

            {#  1996-02-11#}
        }
    </script>
{% endblock html %}
