{% extends "./dashboard_student.html" %}
{% block title %}Student Subject Registration {% endblock %}

{% block content %}
    <form method="post" action="{% url 'registration:student_subject' %}">
        {% csrf_token %}
        <div class="panel panel-default">

            <!-- Default panel contents -->
            {#                    <div class="panel-heading">Heading</div>#}

            <!-- Table -->
            <table class="table">
                <th>Sr. No</th>
                <th>Subject</th>
                {% for branch_subject in subjects %}
                    {% if not branch_subject.subject.is_elective_group %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ branch_subject.subject.name }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}
                {% for each_elective in elective_subjects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>Elective Group {{ each_elective.subject.name }} - <input type="checkbox"
                                                                                      name="elective_{{ each_elective.subject.code }}"
                                                                                      value="{{ subject.id }}">
                        </td>
                    </tr>
                {% endfor    %}

            </table>

        </div>

        <input type="submit" class="btn btn-primary" value="Confirm" name="confirm_student_subject">
    </form>
{% endblock content %}
