{% extends "dashboard_faculty.html" %}
{% block content %}
    <div class="row col-md-3">
        <legend>Enter Subject Details</legend>
        <form method="POST" id="subject_form" action="{% url 'registration:register_subject' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.branch.label_tag }}
                {{ form.branch }}
                {{ form.branch.with_errors }}
            </div>

            <div class="form-group">
                {{ form.year.label_tag }}
                {{ form.year }}
                {{ form.year.with_errors }}
            </div>

            <div class="form-group">
                {{ form.semester.label_tag }}
                {{ form.semester }}
                {{ form.semester.with_errors }}
            </div>

            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.with_errors }}
            </div>

            <div class="form-group">
                {{ form.short_form.label_tag }}
                {{ form.short_form }}
                {{ form.short_form.with_errors }}
            </div>

            <div class="form-group">
                {{ form.code.label_tag }}
                {{ form.code }}
                {{ form.code.with_errors }}
            </div>
            <div class="form-group">
                {{ form.course_pattern.label_tag }}
                {{ form.course_pattern }}
                {{ form.course_pattern.with_errors }}
            </div>
            <div class="form-group">
                {{ form.credits.label_tag }}
                {{ form.credits }}
                {{ form.credits.with_errors }}
            </div>


            <div class="form-group">
                {{ form.type.label_tag }}
                {{ form.type }}
                {{ form.type.with_errors }}
            </div>
            <div class="form-group" id="elective_group" style="display: none;">
                <label>Elective Group</label>
            </div>
            <div class="form-group">
                {{ form.is_practical.label_tag }}
                {{ form.is_practical }}
                {{ form.is_practical.with_errors }}
            </div>


            <input type="submit" class="btn btn-primary">
        </form>
        <br>
        <form action={% url 'registration:view_subjects' %}>
            <input type="submit" value="View Registered Subjects" class="btn btn-primary">
        </form>

    </div>
    <script>
        var elective_data = {{ data | safe }};

        function showElectiveGroup() {
            let type = document.getElementById('id_type');
            let branch = document.getElementById('id_branch').value;
            let year = document.getElementById('id_year').value;
            let semester = document.getElementById('id_semester').value;
            let elective_div = document.getElementById('elective_group');
            if (type.value === 'Elective') {
                let number_of_electives = parseInt(elective_data[branch][year][semester]);
                if(number_of_electives === 0) {
                    alert("The" + semester + " of " + year + "of " + branch + " has no electives.");
                    return;
                }
                for(let i=0;i<number_of_electives;i++) {
                    var label = document.createTextNode(String.fromCharCode(65 + i));
                    var input = document.createElement('input');
                    input.setAttribute('type','radio');
                    input.setAttribute('name','elective_group');
                    input.setAttribute('value',i);
                    elective_div.appendChild(input);
                    elective_div.appendChild(label);
                    elective_div.style.display = 'block';
                }
            } else {
                for(let i=1;i<elective_div.childElementCount;i++) {
                    elective_div.removeChild(elective_div.childNodes[i]);
                }
                elective_div.style.display = 'none';
            }
        }
    </script>
{% endblock content %}