{% extends 'dashboard_faculty.html' %}
{% block title %}
    Attendance
{% endblock title %}
{% block extra_style %}
    /* .squaredOne */

    .squaredOne {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 0;
    background: rgb(186, 188, 182);
    color: white;
    }

    .squaredOne label {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
    padding-top: 20%;
    text-align: center;

    }

    .squaredOne label:after {
    content: ' ';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: #5bc0de;
    z-index: -1;
    opacity: 0;
    }

    .squaredOne label:hover::after {
    opacity: 0.3;
    }

    .squaredOne input[type=checkbox] {
    visibility: hidden;
    }

    .squaredOne input[type=checkbox]:checked + label:after {
    opacity: 1;
    }

    /* end .squaredOne */
{% endblock extra_style %}

{% block content %}


    <div class="container">
        <div class="col-md-1" style="text-align: center">
            <button class="btn btn-info " value="togle" onclick="selectAll()" id="toggle">Select all</button>
        </div>
        <div class="col-md-3 col-md-offset-8"><h5>Selected Date: {{ selected_date }}</h5></div>
    </div>
    <form action="{% url 'attendance:save' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="selected_date" value="{{ selected_date }}">

        <div class="container">
            <div class="row">
                {% for i in all_students %}
                    <div class="col-lg-1" id="test">
                        <section>
                            <!-- .squaredOne -->
                            <div class="squaredOne">
                                {% if not att %}
                                    <input class="cb" type="checkbox" value="{{ i }}"
                                           id="squaredOne{{ forloop.counter }}"
                                           name="present"/>
                                {% else %}
                                    {% if i.attended == True %}
                                        <input class="cb" type="checkbox" value="{{ i.student.pk }}"
                                               id="squaredOne{{ forloop.counter }}"
                                               name="present" checked/>
                                    {% else %}
                                        <input class="cb" type="checkbox" value="{{ i.student.pk }}"
                                               id="squaredOne{{ forloop.counter }}"
                                               name="present"/>
                                    {% endif %}
                                {% endif %}
                                <label for="squaredOne{{ forloop.counter }}">{{ forloop.counter }}</label>
                            </div>
                            <!-- end .squaredOne -->
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container" style="text-align: center">
            <button type="submit">Save</button>
        </div>
        <div class="row">
            {#            <div class="row" style="text-align: center">#}
            {#                <label for="subject">Select subjects</label>#}
            {#                <select id="subject" class="btn btn-info " name="subject">#}
            {#                    <datalist>#}
            {#                        {% for subject in all_subjects %}#}
            {#                            {% if subject == selected_subject %}#}
            {#                                <option selected="selected">{{ subject}}</option>#}
            {#                            {% else %}#}
            {#                                <option>{{ subject}}</option>#}
            {#                            {% endif %}#}
            {#                        {% endfor %}#}
            {#                    </datalist>#}
            {#                </select>#}
            {#                <label for="division">Select Division</label>#}
            {#                <select id="division" class="btn btn-info" name="division">#}
            {#                    <datalist>#}
            {#                        <option>A</option>#}
            {##}
            {#                        <option>B</option>#}
            {##}
            {#                        <option>C</option>#}
            {#                    </datalist>#}
            {#                </select>#}
            {#                <input type="submit" class="btn btn-success" value="Save">#}
            {#            </div>#}

            <div class="row" style="text-align: center">
                <input type="hidden" name="selected_class" value="{{ selected_class.id }}">
            </div>
        </div>
    </form>

    <form action="{% url 'attendance:attendance' %}" method="post" id="change_form">
        {% csrf_token %}

        <input type="hidden" name="selected_date" value="{{ selected_date }}">
        <label>
            <select name="selected_class" onchange="this.form.submit()">

                {% for each in faculty_subject %}
                    {% if each == selected_class %}
                        <option value="{{ each.id }}"
                                selected>{{ each.division.year_branch.year.year  }} {{ each.division.division }} {{ each.branch_subject.subject.short_form }} {{ each.day }} {{ each.time.starting_time }}-{{ each.time.ending_time }} {{ each.room.room_number }}
                        </option>
                    {% else %}
                        <option value="{{ each.id }}">{{ each.division.year_branch.year.year  }} {{ each.division.division }} {{ each.branch_subject.subject.short_form }} {{ each.day }} {{ each.time.starting_time }}-{{ each.time.ending_time }} {{ each.room.room_number }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>


        function selectAll() {
            var but = document.getElementById("toggle");

            // Change values
            if (but.textContent === 'Select all') {
                $('input[type=checkbox]').prop("checked", true);
                but.textContent = "None";
            }
            else {
                $('input[type=checkbox]').prop("checked", false);
                but.textContent = "Select all";
            }
        }
    </script>

{% endblock content %}
