{% extends "./dashboard_faculty.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for i in all_students %}
                <div class="col-lg-1" id="test">
                    <section>
                        <!-- .squaredOne -->
                        <div class="squaredOne">
                            {% if i.attended == True %}
                                <input class="cb" type="checkbox" value="{{ i.student.pk }}"
                                       id="squaredOne{{ forloop.counter }}"
                                       name="present" checked/>
                            {% else %}
                                <input class="cb" type="checkbox" value="{{ i.student.pk }}"
                                       id="squaredOne{{ forloop.counter }}"
                                       name="present"/>
                            {% endif %}
                            <label for="squaredOne{{ forloop.counter }}">{{ forloop.counter }}</label>
                        </div>
                        <!-- end .squaredOne -->
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}