{% extends "./dashboard_faculty.html" %}
{% block title %}
    Attendance
{% endblock title %}
{% block content %}
    <form action="{% url 'attendance:check_attendance' %}" method="post">

        {% csrf_token %}
        <label>Specific date: </label><input type="date" name="selected_date" min="2015-01-02"><br>
        <label>
            <select name="selected_class">
                {% for each in faculty_subject %}
                    <option value="{{ each.id }}"> {{ each.division.year_branch.year.year }} {{ each.division.division }} {{ each.branch_subject.subject.short_form }} {{ each.day }} {{ each.time.starting_time }}-{{ each.time.ending_time }} {{ each.room.room_number }}
                    </option>
                {% endfor %}
            </select>
        </label>
        <button name="go" value="1">Go</button>
        <br><br><br>
        <label>From: </label><input type="date" name="selected_from_date" min="2015-01-02"><br>
        <label>To: </label><input type="date" name="selected_to_date" min="2015-01-03"><br>
        <label>Select Subject: </label>
        <select name="selected_subject">
            {% for each in subjects %}
                <option value="{{ each.id }}"> {{ each.division.year }} {{ each.division.division }} {{ each.subject.short_form }}
                </option>
            {% endfor %}
        </select>
        <button name="check_attendance_button" value="1">Lecture attendance</button>
    </form>
{% endblock content %}