{% extends "./dashboard_faculty.html" %}

{% block content %}
        <form action="{% url 'attendance:check_attendance' %}" method="post">

{% csrf_token %}
<label>
    <input type="date" name="selected_date" min="2015-01-02" ><br>
    <select name="selected_class">
        {% for each in faculty_subject %}
            <option value="{{ each.id }}"> {{ each.division.year.year }} {{ each.division.division }} {{ each.branch_subject.subject.short_form }} {{ each.day }} {{ each.time.starting_time }}-{{ each.time.ending_time }} {{ each.room.room_number }}
            </option>
        {% endfor %}
    </select>
</label>
<button name="go" value="1">Go</button>
<button name="check_attendance_button" value="1">Lecture attendance</button>
</form>
{% endblock content %}