{% extends 'dashboard_student.html' %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Sr No.</th>
            <th>Question</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form action="{% url 'SelfConcept:test' %}" method="post">
            {% csrf_token %}

            {% for each_question in all_questions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ each_question.question }}</td>

                    <td><label><input type="radio" name="option_{{ forloop.counter }}" value="SA"> Strongly
                        Agree</label></td>
                    <td><label><input type="radio" name="option_{{ forloop.counter }}" value="A"> Agree</label>
                    </td>
                    <td><label><input type="radio" name="option_{{ forloop.counter }}" value="U">
                        Undecided</label></td>
                    <td><label><input type="radio" name="option_{{ forloop.counter }}" value="D">
                        Disagree</label></td>
                    <td><label><input type="radio" name="option_{{ forloop.counter }}" value="SD "> Strongly
                        Disagree</label></td>

                </tr>
            {% endfor %}
        <input type="submit" class="btn btn-danger" value="Submit">
        </form>
        </tbody>
    </table>
{% endblock content %}