{% extends "dashboard_student.html" %}

{% block content %}
    <div class="row col-md-3">
        <legend>Enter Internship Details</legend>
        <form method="POST" action="{% url 'internship:apply' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.company_name.label_tag }}
                {{ form.company_name }}
                {{ form.company_name.with_errors }}
            </div>

            <div class="form-group">
                {{ form.address.label_tag }}
                {{ form.address }}
                {{ form.address.with_errors }}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.with_errors }}
            </div>
            <div class="form-group">
                {{ form.contact_number.label_tag }}
                {{ form.contact_number }}
                {{ form.contact_number.with_errors }}
            </div>
            <div class="form-group">
                {{ form.website.label_tag }}
                {{ form.website }}
                {{ form.website.with_errors }}
            </div>
            <div class="form-group">
                {{ form.branch.label_tag }}
                {{ form.branch }}
                {{ form.branch.with_errors }}
            </div>


            <button class="btn btn-primary" name="request_company_button" value="true">Submit</button>

        </form>

    </div>
{% endblock content %}