{% extends 'dashboard_faculty.html' %}
{% block title %}
    Exam-Schedule | ERP
{% endblock title %}



{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Sr no.</th>
            <th>Exam</th>
            <th>Schedule</th>
            <th>Subjects</th>
        </tr>
        </thead>
        <tbody>
        {% for each_exam in exams %}
            <tr>
                <td><input type="checkbox" name="exam" value="{{ each_exam.id }}"></td>
                <td>{{ forloop.counter }}</td>
                <td>{{ each_exam.exam.exam_name }}</td>
                <td>{{ each_exam.schedule_start_date }}</td>
                <td>
                    {% for each_subject in each_exam.examsubject_set.all %}
                        {{ each_subject.subject.short_form }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for each_room in available_rooms %}
        <input type="checkbox" name="room" value="{{ each_room.room_number }}">
        <label>{{ each_room.room_number }}</label>
    {% endfor %}
    <br><br>
    <input class="btn btn-primary" type="button" value="Check Availability" name="possible"
           onclick="check_availability();">


    <div id="exam_schedule"></div>
    <script>
        function check_availability() {

            let all_rooms = document.getElementsByName('room');

            let all_exams = document.getElementsByName('exam');

            let all_exams_id = [];
            let all_room_number = [];

            for (let i = 0; i < all_exams.length; i++) {
                if (all_exams[i].checked) {
                    all_exams_id.push(all_exams[i].value)
                }
            }
            for (let i = 0; i < all_rooms.length; i++) {
                if (all_rooms[i].checked) {
                    all_room_number.push(all_rooms[i].value)
                }
            }

            $.ajax({
                type: "POST",
                url: '{% url 'exam:check_availability' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'room': all_room_number,
                    'exam': all_exams_id
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    console.log(data);
                    let main_container = document.getElementById('exam_schedule');

                    for (let branch in data) {

                        for (let exam in data[branch]) {

                            for (let date in data[branch][exam]) {

                                let heading_div = document.createElement('div');
                                heading_div.setAttribute("class", "row");
                                heading_div.style.textAlign = "center";

                                let heading = document.createElement('h4');
                                heading.innerHTML = branch + "&nbsp;-&nbsp;" + exam + "&nbsp;-&nbsp;" + date;
                                heading_div.appendChild(heading);
                                main_container.appendChild(heading_div);

                                let schedule_div = document.createElement('div');
                                schedule_div.setAttribute("class", "row");
                                main_container.appendChild(schedule_div);
                                let table = document.createElement('table');
                                table.setAttribute("class","table table-responsive");

                                for (let time in data[branch][exam][date]) {
                                    for (let room in data[branch][exam][date][time]) {

                                        let time_row = document.createElement('tr');
                                        let td = document.createElement('td');
                                        td.innerHTML = "Location: " + room + "&nbsp;&nbsp;&nbsp;&nbsp; Time: " + time;
                                        time_row.appendChild(td);
                                        table.appendChild(time_row);

                                        let seating_row = document.createElement('tr');
                                        td = document.createElement('td');

                                        let count = 0;
                                        for (let i in data[branch][exam][date][time]) {
                                            if (count === 7) {
                                                td.innerHTML += data[branch][exam][date][time][i] + "<br/>";
                                                count = 0;
                                            } else {
                                                td.innerHTML += data[branch][exam][date][time][i] + "&nbsp;";
                                                count = count + 1;
                                            }
                                        }

                                        seating_row.appendChild(td);
                                        table.appendChild(seating_row);
                                    }
                                }
                                main_container.appendChild(table);
                            }
                        }
                    }
                }
            });
        }
    </script>

{% endblock content %}
