{% extends 'dashboard_faculty.html' %}
{% block title %}
    Exam-Schedule | ERP
{% endblock title %}

{% block extra_style %}
    .sub-title{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    color: #0379C4;
    }



    @media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    }
    }

    @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    }
    }

    /**
    *  The following is not really needed in this case
    *  Only to demonstrate the usage of @media for large screens
    */
    @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    }
    }

{% endblock extra_style %}

{% block content %}
    <div class="container">
        <legend>Exam Selection</legend>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Sr no.</th>
                <th>Exam</th>
                <th>Schedule</th>
                <th>Subjects</th>
            </tr>
            </thead>
            <tbody>
            {% for each_exam in exams %}
                <tr>
                    <td><input type="checkbox" name="exam" value="{{ each_exam.id }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ each_exam.exam.exam_name }}</td>
                    <td>{{ each_exam.schedule_start_date }}</td>
                    <td>
                        {% for each_subject in each_exam.examsubject_set.all %}
                            {{ each_subject.subject.short_form }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="sub-title">Room Selection</div>
        <table class="table">
            <tbody>
            <tr>
                {% for each_room in available_rooms %}
                    {% if forloop.counter|divisibleby:4 %}
                        <td>
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" name="room" value="{{ each_room.room_number }}"
                                       id="{{ forloop.counter }}">
                                <label for="{{ forloop.counter }}">{{ each_room.room_number }}</label>
                            </div>
                        </td>
                        </tr>
                        <tr>
                    {% else %}
                        <td>
                            <div>
                                <input type="checkbox" name="room" value="{{ each_room.room_number }}"
                                       id="{{ forloop.counter }}">
                                <label for="{{ forloop.counter }}">{{ each_room.room_number }}</label>
                            </div>
                        </td>
                    {% endif %}

                {% endfor %}
                </tr>
            </tbody>

        </table>
    </div>

    <br><br>
    <input class="btn btn-primary" type="button" value="Check Availability" name="possible"
           onclick="check_availability();">


    <div id="exam_schedule" class="container-fluid"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="better_exam_schedule"></div>
    <script>
        function check_availability() {

            let all_rooms = document.getElementsByName('room');

            let all_exams = document.getElementsByName('exam');

            let all_exams_id = [];
            let all_room_number = [];

            for (let i = 0; i < all_exams.length; i++) {
                if (all_exams[i].checked) {
                    all_exams_id.push(all_exams[i].value)
                }
            }
            for (let i = 0; i < all_rooms.length; i++) {
                if (all_rooms[i].checked) {
                    all_room_number.push(all_rooms[i].value)
                }
            }

            $.ajax({
                type: "POST",
                url: '{% url 'exam:check_availability' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'room': all_room_number,
                    'exam': all_exams_id
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    console.log(data);
                    if (data['type'] == "Failure") {
                        swal("Sorry!", data['message'], "warning");
                    }
                    else if (data['type'] == "Question") {
                        swal({
                            text: data['message'],
                            icon: "info",
                            buttons: true,
                            dangerMode: true
                        })
                            .then((willDelete) => {
                                if (willDelete) {
                                    $.ajax({
                                        type: "POST",
                                        url: '{% url 'exam:check_availability' 1 %}',
                                        data: {
                                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                            'room': all_room_number,
                                            'exam': all_exams_id
                                        },
                                        success: function (data) {
                                            console.log(data);
                                            let parsed_data = JSON.parse(data);
                                            if (parsed_data['type'] == "Failure") {
                                                swal("Sorry!", parsed_data['message'], "warning");
                                            } else {
                                                swal("Yeah!", parsed_data['message'], "success");
                                                {#showSchedule(parsed_data);#}
                                                bettershowSchedule(parsed_data);
                                            }
                                        }

                                    });
                                } else {
                                    swal("Sorry!", "Exam could not be scheduled!", "error");
                                }
                            })
                        ;
                    }
                    else {
                        swal("Yeah!", data['message'], "success");
                        {#showSchedule(data);#}
                        bettershowSchedule(data);
                    }
                }
            });
        }

        function showSchedule(data) {
            let main_container = document.getElementById('exam_schedule');
            while (main_container.hasChildNodes()) {
                main_container.removeChild(main_container.childNodes[0]);
            }
            for (let branch in data) {
                if (branch != 'message' && branch != 'type') {
                    for (let exam in data[branch]) {

                        for (let date in data[branch][exam]) {

                            let heading_div = document.createElement('div');
                            heading_div.setAttribute("class", "row");
                            heading_div.style.textAlign = "center";

                            let heading = document.createElement('h4');
                            heading.innerHTML = branch + "&nbsp;-&nbsp;" + exam + "&nbsp;-&nbsp;" + date;
                            heading_div.appendChild(heading);
                            main_container.appendChild(heading_div);

                            let schedule_div = document.createElement('div');
                            schedule_div.setAttribute("class", "row");
                            main_container.appendChild(schedule_div);
                            let table = document.createElement('table');
                            table.setAttribute("class", "table table-responsive");


                            for (let time in data[branch][exam][date]) {
                                for (let room in data[branch][exam][date][time]) {

                                    let time_row = document.createElement('tr');
                                    let td = document.createElement('td');
                                    td.innerHTML = "Location: " + room + "Subject:" + data[branch][exam][date][time][room]['subject'] + "Time: " + time;
                                    time_row.appendChild(td);
                                    table.appendChild(time_row);

                                    let seating_row = document.createElement('tr');
                                    td = document.createElement('td');
                                    let roll_nos = data[branch][exam][date][time][room]['student'].sort();

                                    let count = 0;
                                    for (let i in roll_nos) {
                                        if (count == 7) {
                                            td.innerHTML += roll_nos[i] + "<br/>";
                                            count = 0;
                                        } else {
                                            td.innerHTML += roll_nos[i] + "";
                                            count = count + 1;
                                        }
                                    }

                                    seating_row.appendChild(td);
                                    table.appendChild(seating_row);

                                    td = document.createElement('td');
                                    td.innerHTML = "<br/><br/>";
                                    table.appendChild(td);

                                }
                            }
                            main_container.appendChild(table);
                        }
                    }
                }
            }
        }

        function bettershowSchedule(data) {
            let main_container = document.getElementById('better_exam_schedule');

            while (main_container.hasChildNodes()) {
                main_container.removeChild(main_container.childNodes[0]);
            }


            for (let branch in data) {
                if (branch != 'message' && branch != 'type') {

                    for (let exam in data[branch]) {

                        for (let date in data[branch][exam]) {

                            let item = document.createElement("div");
                            item.setAttribute("class", "item-schedule");

                            let title = document.createElement("div");
                            title.setAttribute("class", "title-schedule");
                            title.innerHTML = branch + ":" + exam + ":" + date;
                            item.appendChild(title);


                            for (let time in data[branch][exam][date]) {
                                for (let room in data[branch][exam][date][time]) {

                                    let room_div = document.createElement('div');
                                    room_div.setAttribute("class", "classroom-schedule");
                                    item.appendChild(room_div);

                                    let subtitle = document.createElement("div");
                                    subtitle.setAttribute("class", "subtitle-schedule");
                                    subtitle.innerHTML = room + data[branch][exam][date][time][room]['subject'] + time;
                                    room_div.appendChild(subtitle);

                                    let student_outer_div = document.createElement('div');
                                    student_outer_div.setAttribute("class", "row");
                                    room_div.appendChild(student_outer_div);

                                    let roll_nos = data[branch][exam][date][time][room]['student'].sort();

                                    let count = 0;
                                    for (let i in roll_nos) {
                                        let student_div = document.createElement('div');
                                        student_div.setAttribute('class', 'col-md-1');
                                        student_div.innerHTML = roll_nos[i];
                                        student_outer_div.appendChild(student_div);
                                    }

                                }
                            }
                            main_container.appendChild(item);
                        }
                    }
                }
            }
        }

    </script>

{% endblock content %}
