{% extends "./base.html" %}

{% block style %}
    <style>
        /*
        DEMO STYLE
    */

        body {

            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        /* ---------------------------------------------------
            SIDEBAR STYLE
        ----------------------------------------------------- */
        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #fff;
            color: rgb(0, 181, 197);
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: rgb(0, 181, 197);
        }

        #sidebar ul.components {
            padding: 20px 0;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            background: rgb(231, 231, 231);
        }

        #sidebar ul li ul li a:hover {
            color: #fff;
            background: rgb(0, 138, 150);
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: rgb(0, 181, 197);

        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
            content: '\e259';
            display: block;
            position: absolute;
            right: 20px;
            font-family: 'Glyphicons Halflings', sans-serif;
            font-size: 0.6em;
        }

        a[aria-expanded="true"]::before {
            content: '\e260';
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: rgb(0, 158, 183);
            color: #fff;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        /* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */
        #content {
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        /* ---------------------------------------------------
            MEDIAQUERIES
        ----------------------------------------------------- */
        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }

            #sidebar.active {
                margin-left: 0;
            }

            #sidebarCollapse span {
                display: none;
            }
        }

        #sidebarCollapse {
            visibility: hidden;
        }

        .navbar-default {
            margin-bottom: 0;
        }

        /* Media query to show side bar toggle button  on  small screen */
        @media only screen and (max-width: 480px) {
            #sidebarCollapse {
                visibility: visible;
            }
        }

        #head {
            margin-left: 5px;
            font-weight: bold;
            color: rgb(0, 181, 197) !important;
        }

    </style>

{% endblock style %}

{% block navbar-right %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false" style="text-transform: uppercase;">{{ form.first_name.value.capitalize }}</a>
    <ul class="dropdown-menu">
        <li><h5>Faculty Code: {{ form.faculty_code.value }}</h5></li>
        <li><a href="{% url 'dashboard:profile' %}">View Profile</a></li>
        <li><a href="{% url 'dashboard:logout' %}"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
    </ul>

{% endblock navbar-right %}
{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <p id="head">Dashboard</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'update:update' %}">Update</a>
                </li>
                <li>
                    <a href="{% url 'attendance:select_cat' %}">Fill Attendance</a>
                </li>
                <li>
                    <a href="{% url 'attendance:check_attendance' %}">Check Attendance</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
{% endblock body %}
{% block html %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
{% endblock html %}