{% extends 'dashboard_faculty.html' %}
{% block title %}
    Excel-Room Schedule | ERP
{% endblock title %}

{% block extra_style %}

{% endblock extra_style %}
{% block content %}
    <div class="showbox" id="loading_div" style="display: none;">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                        stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <div class="row col-md-3" id="main_content">
        {#        <form action="{% url 'dashboard:download_excel_room_schedule' %}" method="get">#}
        <div class="form-group">
            <label for="branch_select">Select Branch</label>
            <select class="form-control" id="branch_select" onload="loadRoom()" onchange="loadRoom()" name="branch">
                {#                <option value="all">All</option>#}
                {% for i in branch_room_json.keys %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="room_select">Select Room</label>
            <select class="form-control" id="room_select" name="room">
                <option value="all">All</option>

            </select>
        </div>
        <br>
        <input type="submit" onclick="download_file()" class="btn btn-primary">

        {#        </form>#}
    </div>


{% endblock content %}
