{% extends "dashboard_faculty.html" %}
{% block title %}
    Getting Started | ERP
{% endblock title %}
{% block content %}
    <div class="col-md-3">
        <div class="row">
            <a class="btn btn-default btn-circle" href="{% url 'dashboard:setup_year' %}"><i
                    class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="btn btn-link" href="{% url 'dashboard:setup_year' %}">Previous Step: Year Registration</a>


        </div>
        <div class="row" id="years_registered">

        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 text-center">
        <legend>Enter Year and Semester Details</legend>
        <form action="{% url 'registration:register_year_detail' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Branch</label>
                <select class="form-control" name="branch" id="branch">
                    {% for branch in branches %}
                        <option value="{{ branch.branch }}">{{ branch.branch }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Year</label>
                <select class="form-control" name="year" onchange="fillSemester()" id="year">
                    <option></option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Semester</label>
                <select class="form-control" id="semester_div" name="semester"></select>
            </div>
            <div class="form-group">
                <label>Semester start date</label>
                <input class="form-control datepicker" type="date" name="semester_start_date">
            </div>
            <div class="form-group">
                <label>Semester end date</label>
                <input type="date" class="form-control datepicker" name="semester_end_date">
            </div>
            <div class="form-group">
                <label>Lecture start date</label>
                <input type="date" class="form-control datepicker" name="lecture_start_date">
            </div>
            <div class="form-group">
                <label>Lecture end date</label>
                <input type="date" class="form-control datepicker" name="lecture_end_date">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>

        </form>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="row">

            <a class="btn btn-link" href="{% url 'dashboard:setup_division' %}">Next Step: Division Registration</a>

            <a class="btn btn-success btn-circle" href="{% url 'dashboard:setup_division' %}"><i
                    class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
    <script>
        function fillSemester() {
            let branch = document.getElementById('branch');
            let year = document.getElementById('year');
            let year_semester_json = {{ year_semester | safe }};
            let semesters = year_semester_json[branch.value][year.value];
            var semester_div = document.getElementById('semester_div');
            while (semester_div.firstChild) {
                semester_div.removeChild(semester_div.firstChild);
            }
            for (var sem in semesters) {
                var opt = document.createElement('option');
                opt.value = semesters[sem];
                opt.text = semesters[sem];
                semester_div.appendChild(opt);
            }

        }
    </script>
{% endblock content %}