{% extends "dashboard_faculty.html" %}

{% block title %}Getting Started | ERP {% endblock title %}

{% block content %}
    <div class="col-md-3">
        <div class="row">
            <a class="btn btn-default btn-circle" href="{% url 'dashboard:setup_branch' %}"><i
                    class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="btn btn-link" href="{% url 'dashboard:setup_branch' %}">Previous Step: Branch Registration</a>


        </div>
        <div class="row" id="years_registered">

        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 text-center">
        <legend>Register a Year</legend>
        <form method="POST" action="{% url 'dashboard:setup_year' %}">
            {% csrf_token %}
            <div class="form-element">
                <label>Branch</label>
                <select name="branch" id="branch" class="form-control" onchange="showRegisteredYears();"
                        onload="showRegisteredYears();">
                    {% for branch in branches %}
                        <option value="{{ branch.branch }}">{{ branch.branch }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-element">
                <label>Year</label>
                <input name="year" type="text" class="form-control">
            </div>
            <div class="form-element">
                <label>Year Number</label>
                <input name="year_number" type="number" class="form-control">
            </div>
            <div class="form-element">
                <label>Number of semesters in a year</label>
                <input name="no_of_sem" type="number" class="form-control">
            </div>
            <div class="form-element">
                <label>Number of shifts</label>
                <input name="no_of_shift" type="number" class="form-control">
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="row">
            {% if number_of_year_branch == 0 %}
                <a class="btn btn-link"
                   onclick="swal('You can\'t go forward!', 'You need to fill atleast one year of any branch to move to next step!', 'error');"
                   disabled="disabled">Next Step: Semester Details</a>
                <a class="btn btn-default btn-circle"
                   onclick="swal('You can\'t go forward!', 'You need to fill atleast one year of any branch to move to next step!', 'error');"
                   disabled="disabled"><i
                        class="glyphicon glyphicon-chevron-right"></i></a>
            {% else %}
                <a class="btn btn-link" href="{% url 'dashboard:setup_semester' %}">Next Step: Division Registration</a>

                <a class="btn btn-success btn-circle" href="{% url 'dashboard:setup_semester' %}"><i
                        class="glyphicon glyphicon-chevron-right"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block on_ready %}
    showRegisteredYears();
{% endblock on_ready %}
{% block html %}
    <script>
        var year_branch = {{ year_branch_json| safe }};

        function showRegisteredYears() {
            let selected_branch = document.getElementById('branch').value;

            let div_to_append = document.getElementById('years_registered');

            while (div_to_append.hasChildNodes()) {
                div_to_append.removeChild(div_to_append.childNodes[0]);
            }


            let label = document.createElement('label');
            label.innerHTML = "Registered Years for " + selected_branch;
            div_to_append.appendChild(label);

            for (let i in year_branch[selected_branch]) {
                let p = document.createElement('p');
                p.innerHTML = year_branch[selected_branch][i];
                div_to_append.appendChild(p);
            }
        }
    </script>
{% endblock html %}